
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
}


body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: white;

    background: rgb(12, 12, 12);
    
}

.navBar{
    background: black;

}


nav {

    color: white;
    padding: 20px 50px;
}

.movieMingle {

    height: 150px;
    width: 350px;
    object-fit: cover;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.searchBar {
    display: flex;
    align-items: center;
    background: rgb(163, 15, 23);
    padding: 10px 60px;
    border-radius: 10px;
    cursor: pointer;
}

.searchInput {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
}

.searchInput:focus {
    outline: none;
}


.searchInput::placeholder {
    color: white;
}

.navBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: bold;
    transition: background-color 0.5s,
    color 0.5s;
    
}

.menuItem:hover{
    background-color: whitesmoke;
    color: black;
}
     
        
     
        #root {
            margin-top: 100px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;

        }
        .box {
            
            margin: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: thick solid  rgb(163, 15, 23);
            border-radius: 5px;
            margin: 40px 10px;
            padding-bottom: 145px;
            padding-top: 20px;

        }

        .borderLine{


            border: thick solid rgb(163, 15, 23);

        }

        .images{
            height: 300px;
            width: 100%px;
            object-fit: cover;
        }

        .bottom {
            margin-top: 0px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 110px;
            color: whitesmoke;
        }
        h2 {
            font-size: 20px;
            color: white;
        }
        button {
            width: 100%;
            position: relative;
            border: none;
            border-radius: 5px;
            background-color: #333;
            padding: 7px 25px;
            cursor: pointer;
            color: white;
        }
        
        ::-webkit-scrollbar {
            display: none;
        }



        .dropbtn {
            background-color: rgb(163, 15, 23);
            color: white;
            padding: 16px;
            font-size: 15px;
            border: none;
            border-radius: 8px;
            font-weight: bold;
            margin-bottom: 3px;
            transition: background-color 0.5s,
            color 0.5s;

          }
          
          .dropdown {
            position: relative;
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color:transparent;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
    
          
          .dropdown-content a:hover {
            background-color: black;
            color: whitesmoke;

            }
          
          .dropdown:hover .dropdown-content {
            display: inline-block;
        }
          
          .dropbtn:hover {
            background-color: whitesmoke;
            color: black;



        }  
        
        .menuItem {
            background-color: rgb(163, 15, 23);
            color: white;
            padding: 16px;
            font-size: 15px;
            border: none;
            border-radius: 8px;
            font-weight: bold;

          }
          
        
      
        
        


        

 @media screen and (max-width: 600px){

    #root {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .movieMingle{
        height: 100px;
        width: 150px;

    }

    .searchBar {
        padding: 3px 10px;
    }
    


    .images{
        height: 220px;
        width: 100%px;
        object-fit: cover;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .box {
            
        margin-bottom: 20px;
        padding-bottom: 100px;

    }

    .dropbtn {
        margin-bottom: 3px;
        padding: 10px 8px;
      }

      .menuItem {
        margin-right: 20px;
        
    }  

    .searchIcon{
        height: 20px;
        width: 20px;
    }

    .navBottom {

        margin-left: 150px;
    }

    .aboutUs{
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }
    .aboutUs1{
        padding-top: 20px;
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .borderLine{
        margin-right: -136px;
    }

}

@media screen and (min-width: 571px) and (max-width: 999px){

    #root {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }

    .movieMingle{
        height: 100px;
    width: 150px;

    }

    .searchBar {
        padding: 3px 10px;
    }
    


    .images{
        height: 220px;
        width: 100%px;
        object-fit: cover;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .box {
            
        margin-bottom: 20px;
        padding-bottom: 90px;

    }

    .dropbtn {
        margin-bottom: 3px;
        padding: 10px 8px;
      }

      .menuItem {
        margin-right: 20px;
        
    }  

    .searchIcon{
        height: 20px;
        width: 20px;
    }

    .navBottom {

        margin-left: 17px;
    }

}




.aboutUs{
    text-align: center;
    color: whitesmoke;

}
.aboutUs1{

    text-align: center;
    color: whitesmoke;

}

a{
    text-decoration: none;
}

.HomeEdit{
    text-decoration: none;
    color: whitesmoke;
}
.HomeEdit:hover{
    color: black;
    background-color: whitesmoke;

}

.Home-Color:hover{
    color: black;
}

p{
    color: whitesmoke;
}

.title{
    padding: 2px;
    text-align: center;
}








footer{
    display: flex;
    color: whitesmoke;
}

.footerLeft{
    flex: 2;
    display: flex;
    justify-content:space-around;
    padding: 50px;
}

.fMenuTitle{
    font-size: 16px;
}

.fList{
    padding: 0;
    list-style: none;
}

.fListItem{
    margin-bottom: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.footerRight{
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.fButton{
    padding: 12px 20px;
    background-color: rgb(163, 15, 23);
    color: whitesmoke;
    border: none;
    border-radius: 20px;
    transition: color 0.5s,
    background-color 0.5s;
}

.fButton:hover{
    color: black;
    background-color: whitesmoke;

}

.fIcons{
    display: flex;
}

.fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.copyright{
    font-weight: 300;
    font-size: 14px;
}

.backGround{
    display: flex;
    padding: 40px;

}

.BG{
    flex: 1;
    padding: 10px;
}


.backGroundImg{
    width: 100%;
}

.Logo{
    object-fit: cover;
}